<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mobappclub.waves2014" >
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!-- GCM connects to Internet Services. -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- GCM requires a Google account. -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <!-- Keeps the processor from sleeping when a message is received. -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- Creates a custom permission so only this app can receive its messages. -->
    <permission
        android:name="com.bits.quark.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.bits.quark.permission.C2D_MESSAGE" />

    <!-- This app has permission to register and receive data message. -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <!-- Network State Permissions to detect Internet status -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Waves"


    >
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyAj1SjK-07hvLjue-6v57Kz0b9yW5fA2gc" />

        <meta-data android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="com.mobappclub.waves2014.Splash_Activity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.mobappclub.waves2014.EventsActivity"
            android:label="@string/title_event_list" >
        </activity>
        <activity
            android:name="com.mobappclub.waves2014.FetchDataFirstRun"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.mobappclub.waves2014.SpecialsActivity"
            android:label="specials" >
        </activity>
        <activity
            android:name="com.mobappclub.waves2014.MainActivity"
            android:label="Main" >
        </activity>
               <activity
            android:name="com.mobappclub.waves2014.ScheduleActivity"
            android:label="@string/title_activity_schedule_activity"
            android:parentActivityName="com.mobappclub.waves2014.MainActivity">
        </activity>
        <activity
            android:name="com.mobappclub.waves2014.MapActivity"
            android:label="@string/title_activity_map_activity" >
        </activity>

        <activity
            android:name="com.mobappclub.waves2014.MapLocClickList"
            android:label="@string/app_name">
        </activity>
        <receiver
            android:name=".GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.mobappclub.waves2014" />
            </intent-filter>
        </receiver>

        <service android:name=".GcmIntentService" />


    </application>

</manifest>
